* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #e7e7e7;
  display: grid;
  place-items: center;
}